body {
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
}
header{
	background-color:#5b7989;
	border-radius: 10px 10px 0px 0px;
	color: white;
	line-height: 35px;
}
header h1{
	text-align: left;
	font-size: 2em;
	text-shadow: 2px 2px 2px #02010A;
}
footer{
	background:#C6d5c5;
	border-radius: 0px 0px 10px 10px;
}

.f1, .f2, .f3, .f4{
	text-align: left;
}
.f1 p{
	text-align: left;
}
.f2 p{
	text-align: left;
}
.f3 p{
	text-align: left;
}
.f3 img{
	width:25px;
	vertical-align:middle;
}
.f4 p{
	text_align:left;
}
#tabla{
	display: table;
	margin-left: 5%;
	margin-right: 5%;
	width:90%;
	vertical-align: middle;
}
#imagen_central{
	background:#82c3a6;
}
#imagen_central img{
	padding: 20px 0px 20px 0px;
	width: 70%;
}
.centrado{
	margin: 0px auto;
	display:block;
}
#imagenes {
	background:#d5c75f;
	border: 1px;
}
#izquierda{
	padding: 20px 0px 20px 0px;
}
#izquierda img{
	margin: 0 auto;
	width:70%;
	display:block;
}
#izquierda h3{
	text-align: center;
}
#derecha{
	padding: 20px 0px 20px 0px;
}
#derecha img{
	margin: 0 auto;
	width:70%;
	display:block;
}
#derecha h3{
	text-align: center;
}
#img_galeria{
	padding: 20px 0px 20px 0px;
}
#img_galeria img{
	margin: 0 auto;
	width:90%;
	display:block;
}
.img1{
	-webkit-filter: blur(10px);
	filter:blur(10px);
}
.img2, .img4, .img6{
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}
.img3{
	-webkit-filter:sepia(90%);
	filter:sepia(90%);
}

.rotacion:hover{
	transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	box-shadow:0 0 2px #82c3a6;
	-webkit-box-shadow:0 0 2px #82c3a6;
	-o-box-shadow:0 0 2px #82c3a6;
	-ms-box-shadow: 0 0 2px #82c3a6;
	-moz-box-shadow: 0 0 2px #82c3a6;
}
.transformado:hover{
	transform:translate(20px,-5px);
	-webkit-transform:translate(10deg);
	-o-transform:translate(20px,-5px);
	-ms-transform:translate(20px,-5px);
	-moz-transform:translate(20px,-5px);
	box-shadow:0 0 2px #82c3a6;
	-webkit-box-shadow:0 0 2px #82c3a6;
	-o-box-shadow:0 0 2px #82c3a6;
	-ms-box-shadow: 0 0 2px #82c3a6;
	-moz-box-shadow: 0 0 2px #82c3a6;
}

@media screen and (min-width:900px) {
	header {
		height:80px;
	}
	header h1{
		text-align: left;
	}
	#contenido {
		width: 900px;
		margin: 0 auto;
	}
	#nombre_sitio {
		display:block;
		float: left;
		height: 80px;
		text-align: left;
	}
	#navegador {
		display:block;
		float: right;
		height: 80px;
		text-align: right;
		padding:20px 0px 20px 0px;
	}
	#navegador a {
		color: white;
		font-size: 1.2em;
		padding:0px 10px 0px 10px;
		text-decoration:none;
	}
	.flex_img_secundaria {
		display:flex;
		display:-webkit-flex;
	}
	.footer_container{
		margin:0px;
		padding:0px;
		width:900px;
	}
	.footer_container{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.footer_container div{
		box-sizing:border-box;
		width:225px;
		padding:30px;
	}
}
@media screen and (max-width:899px) {
	header {
		height: 160px;
	}
	header h1{
		text-align: center;
	}
	#contenido {
		width: 100%;
		margin: 0 auto;
	}
	#nombre_sitio {
		display:block;
		float:none;
		height: 80px;
		text-align: center;
	}
	#navegador {
		display:block;
		float:inherit;
		height: 80px;
		text-align: center;
		padding:0px 0px 0px 0px;
	}
	#navegador a {
		color: white;
		font-size: 1.2em;
		padding:0px 10px 0px 10px;
		text-decoration:none;
	}
	.flex_img_secundaria {
		display:flex;
		display:-webkit-flex;
		flex-direction:column;
		-webkit-flex-direction:column;
	}
	.footer_container{
		margin:0px;
		padding:0px;
		width:100%;
	}
	.footer_container{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.footer_container div{
		box-sizing:border-box;
		width:100%;
		padding:30px;
	}
}
